@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.fix-footer {
  padding-bottom: 3rem;
}
.fix-header {
  padding-top: 2rem;
}
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
}
.absolute-cover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.mosaic {
  color: transparent !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.underline{
  border-bottom: 1px solid;
}